<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://dpkhzafupnbrcaounrbv.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_ro9kk1TrOrzJz8UbWY6GGw_ViQY_iJr</string>
	<key>SUPABASE_SERVICE_ROLE_KEY</key>
	<string>REPLACE_ME</string>
</dict>
</plist>
